{
	"singleQuote": true,
	"semi": false,
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"printWidth": 180,
	"importOrder": ["^react.*", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^~/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
